.chaos{
    position: absolute;
    transition: 0.3s all linear;
    width: 0;
    border-radius: 5px;
    left: 0;
    position: relative;
}
.chaos .fa-times{
    font-size: 32px;
    z-index: 30;
    position: absolute;
    right: 0;
    padding: 5px;
    color: white;
    cursor: pointer;
}