.beer-details-container{
    min-height: 100vh;
    width: 100%;
    margin-top: 140px;
    display: flex;
    flex-flow: column;
}

.content-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}


@media(min-width: 1024px){
    .content-container{
        flex-flow: row;
    }
}