.side-bar-container{
    height: 100vh;
    position: fixed;
    right: 0;
    width: 35%;
    box-sizing: border-box;    
    z-index: 10;
    top: 0;
    padding: 0 20px;
    background-color:#fff;
    transition: 0.5s all linear;
}
.side-bar-open{
    animation: show 0.4s linear forwards;
}
.side-bar-closed{
    animation: hide 0.4s linear forwards;
}
.side-bar-nav-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0;
}
.side-bar-buttons{
    border: none;
    padding: 20px;
    font-size: 22px;
    color: orangered;
    background-color: transparent;
    position: relative;
}
.side-bar-button-active::before{
    content: '';
    border: 1px solid orangered;
    display: block;
    width: 100%;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes show {
    0%{
        right: 0;
    }
    50%{
        right: -50vh;
    }
    100%{
        right: -100vh;
    }

}
@keyframes hide {
    0%{
        right: -100vh;
    }
    50%{
        right: -50vh;
    }
    100%{
        right: 0;
    }

}
