.carousel-bar-block{
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    box-sizing: border-box;
    height: 100%;
    cursor: pointer;
    position: relative;
    padding: 0 5px;
}
.litle-beer > b{
    font-size: 24px;
    color: lightgreen;
    position: absolute;
    bottom: -35px;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
}
.litle-beer{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 10px 20px 0 0;
}
.stars-beer-container{
    position: absolute;
    width: 140px;
    font-size: 24px;
    top: 5px;
    right: 5px;
}

.cart-back-container .orange-link{
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    text-decoration: none;
    font-size: 18px;
    width: 160px;
    text-align: center;
    margin: 0 auto;
}
.beer-header-container{
    margin-top: 30px;
}
.beer-desc-container{
    width: 75%;
}
