.main-page-container{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.place-holder-block{
    width: 18%;
}
