.stars-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}
.beers-list-number{
    position: absolute;
    top: 50px;
    left: 10px;
    text-align: center;
    width: 80px;
    font-size: 28px;
    height: 80px;
    background-color: rgba(72, 175, 25, 0.5);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.stars-container i{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.zero-vote-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}
.zero-vote-container p{
    font-size: 16px !important;
    color: orangered;
    text-align: center;
}
.redirect-to-beer-btn{
    width: 100%;
    font-family: 'Lobster', cursive;
    border-radius: 5px;
    letter-spacing: 2px;
    color: lightgreen;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.redirect-to-beer-btn:hover{
    color: orangered;
}