.side-page-nav{
    color: white;
    width: 18%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 2px 3px black;
    font-family: 'Alegreya', serif;
}
.socials-container{
    display: flex;
    justify-content: space-between;
    
    width: 80px;
    margin: 20px auto 0 auto;
}
.socials-container i{
    font-size: 32px;
}

.first-div-container{
    display: flex;
    height: 220px;
    justify-content: space-around;
    flex-flow: column;
    animation: animatebuttons 2s linear forwards;
    margin-top: 40px;
}

.side-page-nav button{
    position: relative;
    font-family: 'Alegreya', serif;
    border: none;
    font-size: 25px;
    background: transparent;
    color: white;
    letter-spacing: 1px;
    
 }

.side-page-nav button::after{
    content: '';
    width: 99.5%;
    display: block;
    margin-top: 10px;
    position: absolute;
    left: 0;
  }

.side-page-nav button:hover::after{
    animation: sheen 0.5s linear forwards;
    border: 1px solid white;
}




 .search-bar-container{
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    height: 250px;
    justify-content: space-around;
    box-sizing: border-box;
    animation: animatebuttons 2s linear forwards;
}

.search-bar-container div{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    
}
.search-bar-container div label{
    
    margin-left: 10px;
    font-size: 24px;
    
}

.search-bar-container input[type="checkbox"]{
    transform: scale(1.7);
    cursor: pointer;
}

.search-bar-container input[type="text"]{
    border: none;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    font-style: inherit;
    letter-spacing: 1px;
    font-weight: bold;
}






@keyframes animatebuttons {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}