.side-page-nav{
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transition: 1s width ease-in-out;
    padding: 10px;
    box-sizing: border-box;
    z-index: 20;
    
}
.socials-container{
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 10px 0 40px 0;
    position: relative;
}
.socials-container i {
    cursor: pointer;
}
.side-page-nav-png-icon{
    width: 75px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 0;
    transform: translateX(0);
    transition: 1s all ease-in-out;
}
#brewery-group::after{
    content: 'Grupy piwowarskie';
    right: -160px;
}
#breweries::after{
    content: 'Browary';
    right: -80px;
}
#beers::after{
    content: 'Marki piwa';
    right: -100px;
}
#cup::after{
    content: "Rankingi";
    right: -80px;
}
#loup::after{
    content: "Wyszukaj";
    right: -80px;
}
#loup{
    margin-top: 100px;
}
#logout{
    margin-top: 100px;
}
#logout::after{
    content: "Wyloguj";
    right: -70px;
   
}
.side-page-nav-png-icon::after{
    width: auto;
    height: 65px;
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    transition: 1s all ease-in-out;
}
.side-page-nav-png-icon:hover::after{
    opacity: 1;
}


.background-img{
    background-color: rgba(133,152,312,0.3);
}
.side-page-nav-png-icon img{
    cursor: pointer;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.side-page-nav-png-icon:hover{
    transform: translateX(20px);
}

