.beer-group-list-container{
    width: 100%;
    min-height: 100vh;
    color: white;
    padding-top: 120px;
    display: flex;
    margin-bottom: 60px;
    flex-flow: wrap;
}
.beer-group-block{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 290px;
    height: 400px;
    position: relative;
    box-shadow: 0 2px 3px black;
}
.beer-group-block .main-content-container{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    letter-spacing: 1px;
    box-sizing: border-box;    
    height: 100%;
    padding: 10px;
}

.main-content-container h3{
    margin: 0;
}
.beer-group-block .main-content-container article{
   margin-top: 10px;
   text-align: justify;
   font-size: 13px;
   overflow-y: hidden;
   max-height: 100px;
}
.capsel-type{
    width: 45px;
    height: 45px;
    top: -15px;
    right: -15px;
    position: absolute;
}
.main-content-container p{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.main-content-container p b{
    font-size: 14px;
}
.main-content-container p i{
    font-size: 15px;
}
.flip-cart-icons-container{
    display: flex;
    justify-content: space-between;
}

.flip-cart-icons-container .icons-det-holder > div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.icons-det-holder{
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}
.icons-det-holder:first-of-type > p{
    word-break: break-all;
}
.icons-det-holder > p{
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.icons-det-absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.small-icon{
    width: 25px;
    height: 25px;
    right: -35px;
    top: -5px;
    border-radius: 50%;
    position: absolute;
}
.beer-group-awards-container{
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.6);
    margin-left: 25px;
    width: 290px;
    height: 400px;
    position: relative;
    box-sizing: border-box;
}
.award-description-container{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    background-color: orangered;
    left: 0;
    padding: 10px;
    text-align: center;
}
.award-description-container img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 50%;
}

.beer-group-awards-container h2{
    margin: 0;
}
.beer-group-awards-container p:first-of-type{
    font-size: 18px;
    margin: 0;
    line-height: 35px;
    padding: 5px 0;
}
.beer-group-awards-container article{
    font-size: 14px;
    height: 38%;
    overflow-y: auto;
}
.beer-group-awards-container article img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
.show-more-button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
    text-decoration: none;
    color: greenyellow;
}
.empty-back-cart-data{
    color: tomato;
    font-size: 36px !important;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

}


