.mini-rank-container{
    width: 60%;
    display: flex;
    flex-flow: column;
    padding: 20px;
    box-sizing: border-box;
}
.rank-steirways h1{
    text-align: center;
    color: tomato;

}
.rank-steirways h2{
    text-align: center;
}

.first-bar-container{
    margin-top: 30px;
    display: flex;
    height: 260px;
    justify-content: space-between;
}

.first-bar-container img{
    width: 30%;
    height: 230px;
    border-radius: 10px;
    margin-top: 30px;
}
.first-bar-container article{
    padding: 10px 20px;
    margin-top: 30px;
    background-color: rgba(0,0,0,0.6);
    width: 60%;
    border-radius: 10px;
    position: relative;
}
.first-bar-container article p{
    font-size: 16px;
    text-align: justify;
}

.first-bar-container article a{
    width: 120px;
    position: absolute;
    text-decoration: none;
    font-size: 18px;
    bottom: -35px;
    right: 0;
}
.oth-beers-button{
    background-color: olivedrab;
    border: none;
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 60px;
    width: 180px;
}
.oth-beers-button:hover{
    background-color: rgb(115, 167, 12);
}

.company-story-container{
    background-size: cover;
    background-position: center;
    text-align: justify;
    letter-spacing: 1px;
    min-height: 500px;
    border-radius: 5px;
}
.company-story-header{
    margin-top: 120px;
}
.company-story-container article{
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: 22px;
}

@keyframes animate-info{
    0%{
        transform: scale(1);
        color: orange;
    }
    50%{
        transform: scale(1.4);
    }
    75%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}