.breweries-container{
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 100px 0;
}

.breweries-container::before{
    content: '';
    border: 1px solid white;
    display: block;
    width: 96%;
    position: absolute;
    top: 45px;
}

.brewery-icon-left{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    background-size: cover;
    z-index: 10;
    left: -10px;
    top: 0;
}



.breweries-list-container{
    width: 100%;
    padding: 60px 50px;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
}
.brewery-block-container{
    width: 360px;
    height: 250px;
    margin: 80px 30px;
    box-shadow: 0 1px 10px black;
    color: #e4e4e4;
}
.brewery-block-image-holder{
    width: 100%;
    height: 180px;
    border-bottom: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.brewery-block-image-holder img{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -15px;
    left: -10px;
}
.brewery-block-image-holder p{ 
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    padding: 10px 10px 10px 30px;
    box-sizing: border-box;
}
.brewery-block-container h2{
    letter-spacing: 2px;
    text-align: center;
    color: #e4e4e4;
}

.show-more-brewery-button{
    color: #E64A19;
    cursor: pointer;
    width: 50%;
    margin-left: 160px;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}
.show-more-brewery-button:hover{
    color: #FFA726;
}
