.beer-details-left{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto;
    color: white;
}
.beer-details-left h1{
    letter-spacing: 2px;
    font-family: 'Berkshire Swash', cursive;
}

.beer-details-left h1 b{
    color: tomato;
}


.brewery-group-line{
    margin-top: 120px;
    width: 100%;
}

.brewery-group-line .image-line{
    border-radius: 50%;
    background-color: white;
}