.spinner {
    height: 90px;
    position: fixed;
    left: 0;
    right: 0;
    top: -25px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-around;
    transition: 1s opacity ease-in-out;
}
.spinner .fa-beer{
    font-size: 48px;
    animation: spin 2s linear infinite;
}
.spinner-message{
    font-size: 18px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(45deg); }
    100% { transform: rotate(0deg); }
}