.search-container{
    width: 450px;
    position: absolute;
    top: 15px; 
    z-index: 150;
    right: 50%;
    color: white;
}
.search-container input{
    width: 300px;
    padding-left: 55px;
    box-shadow: 0 1px 10px black;
}
.search-container p{
    position: absolute;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.not-found-prompt{
    color: red;
}
.search-container p b{
    font-size: 24px;
    color: orange;
}
.search-container::before{
    content: 'O';
    font-size: 26px;
    display: flex;
    top: -2px;
    color: grey;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 46px;
    position: absolute;
}
.search-container::after{
    content: '';
    border: 3px solid grey;
    position: absolute;
    display: block;
    left: 9px;
    width: 8px;
    transform: rotate(-53deg);
    bottom: 11px;
}