.nav-bar-container{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 0;
    align-items: center;
}
