.brewery-details-container{
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.brewery-details-bottom{
    width: 90%;
    margin: 60px auto 100px auto;
    position: relative;
    height: 600px;
}

.brewery-slicker{
    width: 90%;
    border-radius: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    outline: none;
    margin: auto;
    border: none;
    padding: 20px;
    box-sizing: border-box;
}



