.spinner {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-flow: column;
}
.spinner .fa-beer{
    font-size: 48px;
    animation: spin 2s linear infinite;
}
.spinner-message{
    font-size: 15px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(45deg); }
    100% { transform: rotate(0deg); }
}