.beer-group-list-container{
    width: 100%;
    min-height: 100vh;
    color: white;
    padding-top: 120px;
    display: flex;
    margin-bottom: 60px;
    flex-flow: wrap;
}
.beer-group-block{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 290px;
    height: 400px;
    position: relative;
    box-shadow: 0 2px 3px black;
}
.beer-group-block .main-content-container{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    letter-spacing: 1px;
    box-sizing: border-box;    
    height: 100%;
    padding: 10px;
}

.main-content-container h3{
    margin: 0;
}
.beer-group-block .main-content-container article{
   margin-top: 10px;
   text-align: justify;
   font-size: 14px;
}
.capsel-type{
    width: 45px;
    height: 45px;
    top: -15px;
    right: -15px;
    position: absolute;
}
.main-content-container p{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.main-content-container p b{
    font-size: 14px;
}
.main-content-container p i{
    font-size: 15px;
}
.flip-cart-icons-container{
    display: flex;
    justify-content: space-around;
}

.flip-cart-icons-container div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 30px;
    position: relative;
    font-size: 12px;
    
}
.flip-cart-icons-container div p{
    position: absolute;
    margin: 0;
    word-wrap: break-word;
    width: 100%;
    text-align: center;
}
#owner-image-holder p:first-child{
    top: -25px;
}
#owner-image-holder p:last-child{
    bottom: -40px;
}
#map-image-holder{
    top: 40px;
}
#map-image-holder p:first-child{
    top: -25px;
    left: -4px;
}
#map-image-holder p:last-child{
    bottom: -30px;
    width: 150px;
    left: -40px;
   
}

#date-image-holder p:first-child{
    top: -40px;
    left: -3px;
}
#date-image-holder p:last-child{
    bottom: -30px;
    left: -7px;
    width: 100px;
}
/*
.group-details-png-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

.group-details-png-container div{
    display: flex;
    flex-flow: column;
    position: relative;
}
.group-details-png-container div p{
    font-size: 13px;
    position: absolute;
    text-align: center;
    width: 75px;
    
}
.group-details-png-container div:nth-child(2){
    transform: translateY(30px);
}
.group-details-png-container div img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
*/
.small-icon{
    width: 25px;
    height: 25px;
    right: -35px;
    top: -5px;
    border-radius: 50%;
    position: absolute;
}
.beer-group-awards-container{
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.6);
    margin-left: 25px;
    width: 290px;
    height: 400px;
    position: relative;
    box-sizing: border-box;
}
.award-description-container{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    background-color: orangered;
    left: 0;
    padding: 10px;
    text-align: center;
}
.award-description-container img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 50%;
}

.beer-group-awards-container h2{
    padding-top: 30px;
    margin: 0;
}
.beer-group-awards-container p:first-of-type{
    font-size: 18px;
    margin: 0;
    line-height: 35px;
}
.beer-group-awards-container article{
    font-size: 14px;
    height: 38%;
    overflow-y: auto;
}
.beer-group-awards-container article img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
.show-more-button{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
    text-decoration: none;
    color: greenyellow;
}


