.login-form-container{
    padding: 30px;
}
.p-blue-link-container{
    padding: 0 10px;
}
.under-form-info{
    padding: 10px;
    text-align: center;
    display: flex;
    flex-flow: column;
    height: 50px;
    justify-content: space-between;
}

