.slider-container{
    width: 100%;
    height: 120px;
    text-align: center;
}
.slider-container div{
    display: flex !important;
    width: 100%;
    justify-content: space-around !important;
}
.slider-container div img{
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    cursor: pointer;
}
.slider-container div img:hover{
    transform: scale(1.1);
}
.slider-container .slick-prev{
    top: 120px;
    left: 40px;
}
.slider-container .slick-next{
    top: 120px;
    right: 40px;
}

