.home-page-container{
    width: 100%;
    position: relative;
}
.home-page-container main{
    width: 100%;
}
.block-container{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
}
.page-desc-container{
    width: 35%;
    background-color: transparent;
}
.page-desc-second-container{
    width: 65%;
    padding: 100px;
    box-sizing: border-box;
}
.page-desc-second-container p{
    font-size: 115px;
    color: #fff;
    display: flex;
    flex-flow: column;
    text-align: center;
}
.page-desc-second-container p i{
    margin-top: 40px;
    animation: animateIcon 2s linear infinite;
}
@keyframes animateIcon {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

.third-cart-container{
    width: 60%;
    margin: 0 auto;
    margin-top: 12.5%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: rgba(1, 9, 12, 0.95);
    border-radius: 10px;
}
.third-cart-container h1{
    text-align: center;
    font-size: 40px;
    color: wheat;
    letter-spacing: 1px;
}
.searcher-container-main-page{
    position: relative;
    width: 50%;
}
.searcher-container-main-page input[type="text"]{
    width: 100%;
    height: 40px;
    font-size: 20px;
    border: none;
}
.searcher-container-main-page button{
    position: absolute;
    z-index: 30;
    height: 100%;
    color: white;
    outline: none;
    border: none;
    width: 80px;
    padding: 10px;
    top: 0;
    right: -30px;
    background-color: rgb(48, 146, 76);
    border-top-right-radius: 10px;
    cursor: pointer;
    font-size: 24px;
}
.searcher-container-main-page button:hover{
    background-color: rgb(50, 170, 84);
    
}
.search-informations{
    color: wheat;
    font-size: 17px;
    margin: 20px 0;
}
.btns-holder{
    width: 750px;
    display: flex;
    justify-content: space-around;
}
.beer-articles-btn{
    padding: 15px;
    width: 200px;
    letter-spacing: 3px;
    font-size: 20px;
    border: none;
    font-family: 'Lobster', cursive;
    outline: none;
    color: white;
    position: relative;
}
.beer-articles-btn::before{
    content: '';
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    top: 0;
    transition: 0.5s all ease-in-out;
    left: 0;
    opacity: 0;
    height: 100%;
}
.beer-articles-btn:hover::before{
    left: 10px;
    top: 10px;
    opacity: 1;
}
.btns-holder button:nth-child(1):hover::before{
    background-color: teal;
    content: 'Kliknij mnie';
}
.btns-holder button:nth-child(1){
    background-color: teal;
}
.btns-holder button:nth-child(2){
    background-color: seagreen;
}
.btns-holder button:nth-child(2):hover::before{
    background-color: seagreen;
    content: 'Kliknij mnie';
}
.btns-holder button:nth-child(3){
    background-color: #16a085;
}

.btns-holder button:nth-child(3):hover::before{
    background-color: #16a085;
    content: 'Kliknij mnie';
}