
.breweries-container{
    padding: 20px;
    box-sizing: border-box;
}
.breweries-container article{
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    overflow-y: auto; 
    letter-spacing: 1px;
    line-height: 30px;
    height: 100%;
}
.breweries-container p{
    font-size: 22px;
}
.brew-img-holder{
    float: right;
    width: 280px;
    height: 280px;
    margin: 30px 0 0 15px;
}
.breweries-container img{
    width: 100%;
    border-radius: 5px;
    margin-top: 40px;
    height: 100%;
}