.beer-groups-container{
    color: white;
    height: 100%;
    width: 100%;
    margin: 80px 0 60px 0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.beer-groups-container h1{
    text-align: center;
}
.left-content-beer-groups{
    width: 63%;
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 60px;
    padding-bottom: 40px;
}
.beer-group-main-header{
    padding: 0 20px;
}
.beer-group-story-paragraph{
    font-size: 26px;
    padding-left: 20px;
    width: 100%;
}
.beer-group-story-block{
    font-size: 16px;
    width: 100%;
    text-align: justify;
    height: 350px;
    padding: 20px;
    line-height: 25px;
    box-sizing: border-box;
    overflow-y: auto;
}
.beer-group-story-block span{
    margin-left: 20px;
}

.awards-holder{
    padding: 50px;
    margin: 10px auto;
}
.right-content-beer-groups{
    width: 34%;
    border-radius: 5px;
}
h2.right-content-beer-groups{
    text-align: center;
    position: absolute;
}