.beer-groups-container{
    color: white;
    height: 100vh;
    width: 100%;
    margin-top: 80px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
.left-content-beer-groups{
    width: 70%;
    background-color: rgba(0,0,0,0.6);
}
.beer-group-main-header{
    padding: 0 20px;
}
.beer-group-story-paragraph{
    font-size: 30px;
    margin: 0;
    text-align: center;
    width: 100%;
}
.beer-group-story-block{
    font-size: 18px;
    width: 100%;
    text-align: justify;
    height: 350px;
    padding: 20px;
    line-height: 30px;
    box-sizing: border-box;
    overflow-y: auto;
}
.beer-group-story-block span{
    margin-left: 20px;
}